nose==1.3.7
nltk==3.5
seaborn==0.11.1
scipy==1.5.2
matplotlib==3.3.2
Sphinx==3.4.3
docutils==0.16
tqdm==4.55.1
wheel==0.36.2
gender_guesser==0.4.0
mock==4.0.3
pandas==1.2.0
six==1.15.0
numpy==1.19.2
gender_detector==0.1.0
networkx==2.5
requests==2.25.1
geopandas==0.8.1
fixtures==3.0.0
reno==3.2.0
testrepository==0.0.20
testresources==2.0.1
testscenarios==0.5.0
testtools==2.4.0
virtualenv==20.3.1
